@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  clip-path: polygon(
    0 75%,
    0 0,
    100% 0,
    100% 100%,
    63% 100%,
    58% 78%,
    57% 76%,
    56% 75%,
    54% 75%,
    40% 75%
  );
}

.post-slide {
  max-width: 300px;
}

.post-slide img {
  max-height: 180px;
}

.category-slide {
  max-width: fit-content;
}

.blog-section.navigation-button.swiper-button-disabled {
  @apply text-payline-disabled;
  @apply cursor-auto;
}
/*
.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  justify-content: end;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-width: 20rem;
  min-height: 36rem;
}

.swiper-slide #swiper-slide__image {
  display: block;
  width: 100%;
  min-height: 12rem !important;
  max-height: 12rem !important;
  object-fit: cover;
}

.swiper-pagination {
  bottom: 10px;
  left: 24rem !important;
  width: 100%;
}

.contentWrapper {
  @apply container mx-auto !important;
}*/
